body {
  background-color: beige;
  background-image: url("img/turtle.jpg");
}
.important {
  color: #86a8a4;
  font-style: italic;
  font-stretch: extra-expanded;
  font-family: sans-serif;
  text-align: center;
}


.main-text {
  font-family: sans-serif;
  color: gray;
  text-align: left;
}

img {
width: 50%;
}

.Activities {
  font-family: sans-serif;
  text-decoration: underline;
  color: gray;

}
